<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dan.dit.gameMemo"
    android:versionCode="15"
    android:versionName="1.203" 
    android:installLocation="auto">
	
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
	<permission 
   		    android:description="@string/GamesDBAccessPermissionDescription"
   		    android:label="Games access"
   		    android:name="dan.dit.gameMemo.GamesDBAccess"
   		    android:protectionLevel="signature">
    </permission>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".appCore.GameChooserActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appCore.statistics.StatisticsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".appCore.statistics.StatisticEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
          	android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".appCore.tichu.TichuGamesActivity" >
        </activity>
        <activity
            android:name=".appCore.doppelkopf.DoppelkopfGamesActivity" >
        </activity>
        <activity
            android:name=".appCore.minigolf.MinigolfGamesActivity" >
        </activity>
        <activity android:name=".appCore.doppelkopf.DoppelkopfGameDetailActivity">
        </activity>
        <activity
            android:name=".appCore.tichu.TichuGameDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".appCore.GameDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="dan.dit.gameMemo.appCore.gameSetup.GameSetupActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".util.DebugShowStacktraceActivity">
        </activity>
        <activity
            android:name=".appCore.tichu.TichuGamesStatisticsActivity">
        </activity>
        <activity
            android:name=".dataExchange.bluetooth.BluetoothDataExchangeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".dataExchange.file.FileWriteDataExchangeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name=".dataExchange.file.FileReadDataExchangeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:noHistory="true">

			<intent-filter>
				  <action android:name="android.intent.action.VIEW" />
        		  <category android:name="android.intent.category.BROWSABLE" />
				  <category android:name="android.intent.category.DEFAULT" />
				  <data android:scheme="file"  android:host="*" android:pathPattern=".*\\.gamememo" android:mimeType="*/*"  />
				  <data android:scheme="file"  android:host="*" android:pathPattern=".*\\..*\\.gamememo" android:mimeType="*/*"  />
				  <data android:scheme="file"  android:host="*" android:pathPattern=".*\\..*\\..*\\.gamememo" android:mimeType="*/*"  />
				  <data android:scheme="file"  android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\.gamememo" android:mimeType="*/*"  />
				  <!--  <data android:scheme="file"  android:host="*" android:pathPattern=".*\\.gamememo" android:mimeType="application/gamememo"  />-->
			</intent-filter>
        </activity>
          <provider
     		 android:name=".storage.database.GamesDBContentProvider"
      		 android:authorities="dan.dit.gameMemo.gamesData.contentprovider" 
      		 android:permission="dan.dit.gameMemo.GamesDBAccess"
      		 android:exported="false">
   		</provider>
   		
    </application>

</manifest>